@font-face {
  font-family: "Gilroy-Regular";
  src: url(../fonts/Gilroy/Gilroy-Regular.woff);
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url(../fonts/Gilroy/Gilroy-Medium.woff);
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url(../fonts/Gilroy/Gilroy-SemiBold.woff);
}
@font-face {
  font-family: "Otomarine";
  src: url(../fonts/Otomarine/Otomarine.woff);
}
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

ul {
  list-style: none;
}

ul, li, p, h1, h2, h3 {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

input, button, a {
  outline: none;
}

a {
  text-decoration: none;
}

.content-container {
  min-height: 100%;
  margin-bottom: -141px;
}
.content-container:after {
  content: "";
  display: block;
  height: 141px;
}

body {
  font-family: Gilroy-Medium, sans-serif;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  overscroll-behavior: none;
}
body img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3 {
  font-weight: 500;
}

.content-center {
  max-width: 1170px;
  margin: 0 auto;
}

.btn {
  font-size: 14px;
  color: #FFFFFF;
  transition: all 0.3s linear;
  display: inline-block;
  border-radius: 2px;
}

.green-btn {
  background-color: #149E4C;
}
.green-btn:hover {
  background-color: #149448;
}

.form-subscribe input[type=email] {
  background: #FFFFFF;
  border: none;
  border-radius: 2px;
  padding: 18px 20px 15px;
  color: #363636;
  margin-right: 16px;
  height: 46px;
  width: 76.5%;
}
.form-subscribe .privacy {
  margin-top: 31px;
  display: block;
  font-size: 12px;
  color: #7f7f7f;
}
.form-subscribe .privacy a {
  color: #FFFFFF;
}
.form-subscribe .privacy a:hover {
  text-decoration: underline;
}

input[type=search i]::-webkit-search-cancel-button {
  display: none !important;
}

input[type=search],
input[type=email] {
  font-size: 14px;
  font-family: Gilroy-Regular, sans-serif;
  border-radius: 4px;
  width: 100%;
  outline: none;
  -webkit-appearance: none !important;
}
input[type=search]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}
input[type=search]:-moz-placeholder,
input[type=email]:-moz-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}
input[type=search]::-moz-placeholder,
input[type=email]::-moz-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}
input[type=search]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder {
  font-size: 14px;
  color: #8b8b8b;
}

.page-404 {
  overflow: hidden;
  background: #f8f8f8;
  min-height: 600px;
  display: flex;
  align-items: center;
}
.page-404 .content-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-404__left {
  width: 367px;
}
.page-404__left-title {
  font-family: Otomarine, sans-serif;
  font-size: 44px;
  line-height: 52px;
  color: #050A0A;
}
.page-404__left-txt {
  margin-top: 25px;
  font-family: Gilroy-Regular, sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #8b8b8b;
}
.page-404__left-btn {
  display: inline-block;
  margin-top: 40px;
  padding: 16px 30px 13px;
  font-family: Gilroy-Regular, sans-serif;
}
.page-404__right {
  width: 61%;
}
.page-404__right .mob {
  display: none;
}

@media screen and (max-width: 1200px) {
  .page-404 {
    padding: 0 30px;
  }
  .page-404__right {
    width: 55%;
  }
}
@media screen and (max-width: 1023px) {
  .page-404 .content-center {
    flex-direction: column;
  }
  .page-404__left {
    width: 100%;
    text-align: center;
  }
  .page-404__left-title {
    font-size: 36px;
    line-height: 48px;
  }
  .page-404__left-txt {
    font-size: 16px;
    line-height: 22px;
    width: 70%;
    margin: 25px auto 0;
  }
  .page-404__left-btn {
    margin-top: 20px;
  }
  .page-404__right {
    width: 60%;
    margin-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .page-404 {
    padding: 0 15px;
  }
  .page-404__left-title {
    font-size: 24px;
    line-height: 32px;
  }
  .page-404__left-txt {
    width: 100%;
  }
  .page-404__left-btn {
    padding: 14px 31px 11px;
  }
  .page-404__right {
    width: 100%;
  }
  .page-404__right .desk {
    display: none;
  }
  .page-404__right .mob {
    display: block;
    margin: auto;
  }
}

/*# sourceMappingURL=main.css.map */
