@media screen and (max-width: 1200px)
  .page-404
    padding: 0 30px
    &__right
      width: 55%

@media screen and (max-width: 1023px)
  .page-404
    .content-center
      flex-direction: column
    &__left
      width: 100%
      text-align: center
      &-title
        font-size: 36px
        line-height: 48px
      &-txt
        font-size: 16px
        line-height: 22px
        width: 70%
        margin: 25px auto 0
      &-btn
        margin-top: 20px
    &__right
      width: 60%
      margin-top: 30px

@media screen and (max-width: 767px)
  .page-404
    padding: 0 15px
    &__left
      &-title
        font-size: 24px
        line-height: 32px
      &-txt
        width: 100%
      &-btn
        padding: 14px 31px 11px
    &__right
      width: 100%
      .desk
        display: none
      .mob
        display: block
        margin: auto