$green-default: #149E4C
$green-hover: #149448
$green-pressed: #0C7838
$dark: #050A0A
$gray-dark: #363636
$gray-semi: #8b8b8b
$gray-light: #ebebeb
$light: #f8f8f8
$yellow-bg: #fef3e2
$light-green: #F0F9F4
$white: #FFFFFF

$font-gilroy-regular: Gilroy-Regular, sans-serif
$font-gilroy-medium: Gilroy-Medium, sans-serif
$font-gilroy-semibold: Gilroy-SemiBold, sans-serif
$font-otomarine: Otomarine, sans-serif

body
  font-family: $font-gilroy-medium
  -webkit-tap-highlight-color: transparent
  overflow-x: hidden
  overscroll-behavior: none
  img
    max-width: 100%
    height: auto

h1,h2,h3
  font-weight: 500

.content-center
  max-width: 1170px
  margin: 0 auto

.btn
  font-size: 14px
  color: $white
  transition: all .3s linear
  display: inline-block
  border-radius: 2px

.green-btn
  background-color: $green-default
  &:hover
    background-color: $green-hover

.form-subscribe
  input[type=email]
    background: $white
    border: none
    border-radius: 2px
    padding: 18px 20px 15px
    color: $gray-dark
    margin-right: 16px
    height: 46px
    width: 76.5%
  .privacy
    margin-top: 31px
    display: block
    font-size: 12px
    color: #7f7f7f
    a
      color: $white
      &:hover
        text-decoration: underline

input[type="search" i]::-webkit-search-cancel-button
  display: none !important

input[type=search],
input[type=email]
  font-size: 14px
  font-family: $font-gilroy-regular
  border-radius: 4px
  width: 100%
  outline: none
  -webkit-appearance: none !important
  +placeholder
    font-size: 14px
    color: $gray-semi

.page-404
  overflow: hidden
  background: $light
  min-height: 600px
  display: flex
  align-items: center
  .content-center
    display: flex
    justify-content: space-between
    align-items: center
  &__left
    width: 367px
    &-title
      font-family: $font-otomarine
      font-size: 44px
      line-height: 52px
      color: $dark
    &-txt
      margin-top: 25px
      font-family: $font-gilroy-regular
      font-size: 18px
      line-height: 26px
      color: $gray-semi
    &-btn
      display: inline-block
      margin-top: 40px
      padding: 16px 30px 13px
      font-family: $font-gilroy-regular
  &__right
    width: 61%
    .mob
      display: none