.page-404
  .content-center
    .page-404__left
      .page-404__left-title Can't go any further (404)
      .page-404__left-txt.
        We do not seem to find the page you are looking
        for. Would you like to return to our homepage instead?
      a(href="#" target="_blank").btn.green-btn.page-404__left-btn Return to Homepage
    .page-404__right
      img(src="img/elephant_404.svg" alt="Not found").desk
      img(src="img/elephant_404-mob.svg" alt="Not found").mob